/* Nav */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3e8fa;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
  }
  
  .logo {
    height: 9.6rem;
  }
  
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #222;
    font-weight: 700;
    font-size: 1.8rem;
    transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: #228be6;
  }
  
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #228be6;
  }
  
  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: #228be6;
  }
  /* Sticky navigation bar */
  
  .sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 9.6rem;
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }
  
  .sticky .section-hero {
    margin-top: 9.6rem;
  }
  
  /* mobile nav */
  /* MOBILE */
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
  }
  
  .icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
  }
  
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }
  
  /****************************/
  /*Hero*/
  /****************************/
  .section-hero {
    padding: 30rem 0 0rem 0;
    height: 80rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(10, 43, 69, 0.6),
        rgba(167, 209, 245, 0.2)
      ),
      url("../Recursos/MujerConSombrilla.jpg");
    background-size: cover;
    background-position: top;
  }
  
  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
  }
  
  .heading-hero {
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.5px;
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }
  
  .hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    color: #fff;
  }
  
  .btn {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
  }
  
  /****************************/
  /*NUESTRO COMPROMISO*/
  /****************************/
  
  .section-commitment {
    padding: 9.6rem 0;
    border-bottom-style: solid;
    border-bottom-color: #eee;
  }
  
  .feature-description {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  
  .feature-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .feature-img {
    width: 60%;
    border-radius: 5%;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    transition: transform 0.3s ease-in-out;
  }
  
  .feature-img:hover {
    transform: scale(1.1);
  }
  
  .feature-heading {
    display: flex;
    gap: 1.2rem;
  }
  /****************************/
  /*NUESTROS COLABORADORES*/
  /****************************/
  .section-collaborators {
    padding: 4.8rem 0 3.2rem 0;
  }
  
  .heading-collaborators {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
  }
  
  .logos {
    display: flex;
    justify-content: space-around;
  }
  
  .logos img {
    height: 5.2rem;
  }
  .btn--full:link,
  .btn--full:visited {
    background-color: #228be6;
    color: #fff;
  }
  
  .btn--full:hover,
  .btn--full:active {
    background-color: #4cb9e7;
  }
  
  .btn--outline:link,
  .btn--outline:visited {
    background-color: #fff;
    color: #555;
  }
  
  .btn--outline:hover,
  .btn--outline:active {
    background-color: #f1f1ff;
    box-shadow: inset 0 0 0 3px #fff;
  }
  
  .margin-right-sm {
    margin-right: 1.6rem !important;
  }
  
  /****************************/
  /*Donations*/
  /****************************/
  
  .section-donations {
    background-image: linear-gradient(
        to right bottom,
        rgba(10, 43, 69, 0.6),
        rgba(167, 209, 245, 0.2)
      ),
      url("../Recursos/MujerConSombrilla.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .donations-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    color: #f1f1ff;
  }
  
  .heading-donations {
    font-size: 5rem;
    color: #f1f1ff;
    margin-bottom: 5%;
  }
  
  /****************************/
  /*SECTION TCU*/
  /****************************/
  /*.section-TCU {
    position: relative;
  
    background-image: linear-gradient(
        to right bottom,
        hsla(208, 80%, 52%, 0.2),
        hsla(208, 80%, 90%, 0.1)
      ),
      url("../Recursos/Estudiante.jpg");
    background-size: cover;
    background-position: center;
    height: 70rem;
  }
  
  .TCU-information {
    position: absolute;
    top: 45%;
    left: 78%;
    transform: translate(-50%, -50%);
    width: 30%;
  }
  
  .heading-TCU {
    font-size: 5rem;
    color: #333;
    margin-bottom: 3.2rem;
  }
  
  .TCU-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }
  
  /****************************/
  /*SECTION TCU Poder Judicial*/
  /****************************/
  /*.section-TCU-Form{
    position: relative;
  
    background-image: linear-gradient(
        to right bottom,
        hsla(208, 80%, 52%, 0.2),
        hsla(208, 80%, 90%, 0.1)
      ),
      url("../Recursos/TC.jpg");
    background-size: cover;
    background-position: center;
    height: 70rem;
  }
  .form-content{
    background: linear-gradient(
      50deg,
      hsla(208, 80%, 52%, 0.2),
      hsla(208, 80%, 90%, 0.1)),
    url("./Recursos/fondotc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    border-radius: 25px;
  }
  
  .form-content h2 {
    font-size: 5rem;
    color: #333;
    margin-bottom: 3.2rem;
  }
  
  
  /**************************/
  /* CTA SECTION */
  /**************************/
  
  .section-cta {
    padding: 4.8rem 0 0;
  }
  
  .cta {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #d3e8fa, #d3e8fa);
    overflow: hidden;
  }
  
  .cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #333;
  }
  
  .cta .heading-secondary {
    color: inherit;
    margin-bottom: 3.2rem;
  }
  
  .cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }
  
  .cta-img-box {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(
        to right bottom,
        hsla(208, 80%, 52%, 0.2),
        hsla(208, 80%, 90%, 0.1)
      ),
      url("../Recursos/prueba2.jpeg");
    background-size: cover;
    background-position: center;
  }
  .cta-img-box.loading {
    background-image: none !important;
  }
  
  .cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
  }
  
  .cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  
  .cta-form input,
  .cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .cta-form input::placeholder {
    color: #aaa;
  }
  
  .cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
  }
  .btn--form{
   margin-top: 20px;
   }         
  
.btn--form:link,
.btn--form:visited {
  background-color: #fff;
  color: #555;
}

.btn--form:hover,
.btn--form:active {
  background-color: #f1f1ff;
  box-shadow: inset 0 0 0 3px #fff;
}


/*======================== HOME ========================*/
 /****************************/
  /*SECTION POSTS*/
  /****************************/
.posts__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.post {
  background: #d3e8fa;
  padding: 1rem;
  border-radius: 2rem;
  padding-bottom: 2rem;
  transition: all 300ms ease;
  cursor: default;
  margin: 0 1rem;
}

.post:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.post__thumbnail {
  border-radius: 1rem;
  overflow: hidden;
  height: 16rem;
}

.post__content {
  margin-top: 1.5rem;
}

.post__content-link {
  text-decoration: none;
  color: inherit; 
}

.post__content h3 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 1rem 0 0.6rem;
}

.post__content-link h3 {
  color:  #228be6; 
}
.post__content p {
  font-size: 1.5rem;
  line-height: 1.2; 
  margin: 1rem 0 0.6rem;
  max-height: 4.5em; 
  overflow: hidden;
  text-align: justify; 
}

/*.post__content p {
  font-size: 1.5rem;
  line-height: 1;
  margin: 1rem 0 0.6rem;
  max-height: 4.5em; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;*/
  /* 
 
}*/

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}

.post__author {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.post__author-avatar {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 0.6rem;
  overflow: hidden;
}

/*======================== LOADER ========================*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: hwb(240 95% 0%);
  display: grid;
  place-items: center;
}

.loader__image {
  width: 4.5rem;
  height: 4.5rem;
}


/*======================== POST DETAILS ========================*/
.post-detail {
  width: 50%;
  background: #fff;
  margin-inline: auto;
  padding: 2rem 0;
  margin-bottom: 10rem;
}

.post-detail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.post-detail__buttons {
  display: flex;
  gap: 2rem; 
  align-items: flex-start;
}

.post-detail__thumbnail {
  margin: 2rem 0;
  height: fit-content;
  max-height: 40rem;
  overflow: hidden;
}

.post-detail__container p {
  margin-bottom: 0.7rem;
  line-height: 1.6; 
  text-align: justify; 
  font-size: 1.2rem;
}
/*======================== REGISTER  && GENERAL FORM ========================*/
.register, .login, .create-post {
  width: 50%;
  /* -12 because navbar height plus footer top margin */
  height: calc(100vh - 12rem);
  margin-inline: auto;
  display: grid;
  place-items: center;
}

.register h2, .login h2, .create-post h2 {
  margin-bottom: 2rem;
}

.register small, .login small {
  display: block;
  margin-top: 1.5rem;
}

.register small a, .login small a {
  color: #228be6;
}

.cta-login{
  grid-template-columns: 1.5fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #d3e8fa, #d3e8fa);
  overflow: hidden;
}
/* change the background of quill editor */
.ql-editor {
  background: #fff;
}




/*======================== USER PROFILE ========================*/
.profile__container {
  display: grid;
  place-items: center;
  text-align: center;
}

.profile__details {
  width: 100%;
}

.cta-profile{
  grid-template-columns: 1.5fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #d3e8fa, #d3e8fa);
  overflow: hidden;
  margin: 100px;
}
.avatar__wrapper {
  width: 15rem;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: auto;
  margin-top: 1rem;
}

.profile__avatar {
  height: 100%;
  border-radius: 50%;
  border: 1rem solid #fff;
  overflow: hidden;
}

.avatar__form {
  height: 1rem;
}

.avatar__form input {
  visibility: hidden;
}

.avatar__form label, .profile__avatar-btn {
  background: #0c0c22;
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.profile__avatar-btn {
  cursor: pointer;
  padding: 0;
  font-size: 2rem;
  background: #228be6;
}

.profile__details h1 {
  margin-top: 1.5rem;
}

.form.profile__form {
  margin-top: 3rem;
  margin-inline: auto;
  width:50%;
}



/*======================== AUTHORS ========================*/
.authors__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.author {
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 1.3rem;
  transition: all 300ms ease;
}

.author:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.07);
}

.author__avatar {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.3rem solid hwb(240 95% 0%);
  overflow: hidden;
}

.author__info p {
  margin-top: 1rem;
}

/*======================== DASHBOARD ========================*/
.dashboard__container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.dashboard {
  margin-bottom: 40rem;
}
.dashboard__post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
}

.dashboard__post-info {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.dashboard__post-thumbnail {
  width: 8rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.dashboard__post-actions {
  display: flex;
  gap: 1rem;
}





  /****************************/
  /*SECTION FOOTER*/
  /****************************/
  .footer {
    background-color: #d3e8fa;
    padding: 4.8rem 0 3.2rem 0;
  }
  
  .logo-img-footer {
    height: 20rem;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  .footer-section-horizontal {
    display: flex;
    gap: 3.2rem;
  }
  .footer-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
  }
  
  .icon {
    width: 3rem;
    height: 3rem;
  }
  
  .icon-social-media {
    width: 5.2rem;
    height: 5.2rem;
  }
  
  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #555;
    transition: all 0.3s;
  }
  
  .footer-link:hover,
  .footer-link:active {
    color: #333;
  }
  